.blogDetail {
  padding: 40px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
}
.blogDetail * {
  font-family: "Poppins", sans-serif !important;
}

.back-btn {
  position: absolute;
  top: 2%;
  left: 2%;
  color: black;
  font-size: 30px;
}
.blogWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-brown);
}
.blogDetail h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
.blogDetail h2 {
  font-size: 25px;
  font-weight: 400;
}
.blogDetail img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  margin: 20px 0px;
}
.blogDetail p {
  margin: 10px 0px;
  font-size: 23px;
}
.blogDetail ul {
  list-style-type: none;
  font-size: 23px;
  margin: 10px 0px;
}
.blogDetail li {
  margin: 10px 0px;
}
.mediaContact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}
.mediaContact h4 {
  font-size: 20px;
}
.mediaContact h5 {
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 1300px) {
  .blogDetail {
    padding: 60px 20px;
  }
  .blogWrapper .back-btn {
    top: 2%;
    left: 3%;
    font-size: 25px;
  }
}
@media screen and (max-width: 700px) {
  .blogDetail h1 {
    font-size: 25px;
  }
  .blogDetail h2 {
    font-size: 16px;
  }
  .blogDetail p,
  .blogDetail li {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .blogDetail h1 {
    font-size: 22px;
  }
  .blogDetail {
    align-items: center;
    text-align: center;
  }
}
